/**
  Нормализация блочной модели
 */
*,
::before,
::after {
    box-sizing: border-box;
}

/**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
:where(ul, ol):where([class]) {
    padding-left: 0;
}

/**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
body,
:where(blockquote, figure):where([class]) {
    margin: 0;
}

/**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
    margin-block: 0;
}

:where(dd[class]) {
    margin-left: 0;
}

:where(fieldset[class]) {
    margin-left: 0;
    padding: 0;
    border: none;
}

/**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
:where(ul[class]) {
    list-style: none;
}

:where(address[class]) {
    font-style: normal;
}

/**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
p {
    margin-block: 0;
}

/**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
p:where(:not([class]):not(:last-child)) {
    margin-bottom: var(--paragraphMarginBottom);
}

/**
   Упрощаем работу с изображениями и видео
  */
img,
video {
    display: block;
    max-width: 100%;
    height: auto;
}

/**
   Наследуем свойства шрифт для полей ввода
  */
input,
textarea,
select,
button {
    font: inherit;
    outline: none;
}

html {
    /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
    height: 100%;
    /**
     Убираем скачок интерфейса по горизонтали
     при появлении / исчезновении скроллбара
    */
    scrollbar-gutter: stable;
}

/**
   Плавный скролл
  */
html,
:has(:target) {
    scroll-behavior: smooth;
}

body {
    /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
    min-height: 100%;
    /**
     Унифицированный интерлиньяж
    */
    line-height: 1.5;
    color: #1c1c1d;
    font-family: 'Montserrat';
}

/**
   Нормализация высоты элемента ссылки при его инспектировании в DevTools
  */
a:where([class]) {
    display: inline-flex;
}

/**
   Курсор-рука при наведении на элемент
  */
button,
label {
    cursor: pointer;
    padding: 0;
}

/**
   Приводим к единому цвету svg-элементы
   (за исключением тех, у которых уже указан
   атрибут fill со значением 'none' или начинается с 'url')
  */
:where([fill]:not([fill='none'], [fill^='url'])) {
    fill: currentColor;
}

/**
   Приводим к единому цвету svg-элементы
   (за исключением тех, у которых уже указан
   атрибут stroke со значением 'none')
  */
:where([stroke]:not([stroke='none'], [stroke^='url'])) {
    stroke: currentColor;
}

/**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
svg * {
    transition-property: fill, stroke;
}

/**
   Приведение рамок таблиц в классический 'collapse' вид
  */
:where(table) {
    border-collapse: collapse;
    border-color: currentColor;
}

:root {
    --slidermain: 10.4rem;
}

/**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
@media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

@font-face {
    font-family: 'Permanent Marker';
    src: url('/fonts/PermanentMarker-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
}

.header,
.slider {
    background-color: #7711dd;
}

.h1 {
    font-size: 70px;
    font-family: 'Permanent Marker';
    color: #fff;
    line-height: 75.5px;
    letter-spacing: 2px;
}

.title-subtitle {
    font-family: 'Montserrat';
    font-size: 18px;
    letter-spacing: 0.45px;
    color: #474a57;
}

.slider__main-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-bottom: 81px;
}

.header__top-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding-top: 19px;
    padding-bottom: 5px;
}

.header_top-hamburger {
    background-image: url(/src/img/menu.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 49px;
    height: 51px;
    position: relative;
    cursor: pointer;
}

.header_top-hamburger::before {
    content: '';
    position: absolute;
    background-image: url(/src/img/hamburger.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 24px;
    width: 24px;
    top: 14px;
    right: 13px;
}

.slider__main-subtitle {
    margin: 31px 0 50px;
    display: inline-block;
    color: #ffffff;
}

.slider__main-left {
    padding-top: var(--slidermain);
    position: relative;
}

.btn {
    background-image: url(/src/img/button.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 189px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 0 0 5px;
    font-family: 'Montserrat';
    font-weight: 900;
    cursor: pointer;
    transition: 0.3s;
    background-color: transparent;
    border: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.btn__footer {
    background-image: url(/src/img/button_footer.png);
    color: #fff;
}

.btn__bonus {
    background-image: url(/src/img/button_bonus.png);
    color: #fff;
}
.btn_sing_in {
    background-image: url(/src/img/sing_in.png);
    width: 403px;
    height: 52px;
    margin-top: auto;
}

.download:hover {
    transform: scale(0.9);
    transition: 0.3s;
}
.btn_sing_in:hover {
    transform: scale(0.9);
    transition: 0.3s;
}
.btn-card:hover {
    transform: scale(0.9);
    transition: 0.3s;
}

.slider__main-btn {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    gap: 15px;
}

.slider__main-right {
    position: relative;
}

.slider__main-steps {
    position: absolute;
    top: 50%;
    left: 29%;
    transform: rotate(3deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 0.42px;
    gap: 2px;
    z-index: 2;
}

.slider__main-meters {
    position: absolute;
    top: 51%;
    left: 58.1%;
    transform: rotate(3deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 0.42px;
    gap: 2px;
    z-index: 2;
}

.slider__main-exercises {
    position: absolute;
    top: 67.6%;
    left: 28%;
    transform: rotate(3deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 0.42px;
    gap: 2px;
    z-index: 2;
}

.slider__main-achievents {
    position: absolute;
    top: 68.7%;
    left: 54%;
    transform: rotate(3deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 0.42px;
    gap: 2px;
    z-index: 2;
}

.slider__main-number {
    font-size: 26px;
    font-weight: 700;
    font-family: 'Montserrat';
    line-height: 100%;
}

.slider__main-text {
    font-family: 'Montserrat';
    line-height: 100%;
    font-size: 14px;
}

.slider__main-illustration {
    display: inline-block;
    position: absolute;
    top: 21.4%;
    left: 21%;
    z-index: 2;
}

.slider__main-flexbox {
    display: flex;
    align-items: flex-end;
    top: 15.5%;
    position: absolute;
    left: 11.7%;
    gap: 5.8px;
    transform: rotate(1.8deg);
    overflow: hidden;
}

.slider-main-bg {
    position: relative;
    z-index: 1;
}

.cloud::after {
    content: '';
    position: absolute;
    background-image: url(/src/img/cloud.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 342px;
    height: 291px;
    top: -3%;
    left: -19%;
}

.cloud_small::before {
    content: '';
    position: absolute;
    background-image: url(/src/img/cloud_small.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 205px;
    height: 175px;
    top: 33.8%;
    right: -14%;
}
.cloud_small-bg::after {
    content: '';
    position: absolute;
    background-image: url(/src/img/cloud_small-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 150px;
    height: 100px;
    top: -22%;
    right: 178%;
}
.cloud_small-bottom::after {
    content: '';
    position: absolute;
    background-image: url(/src/img/cloud_small-bottom.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 308px;
    height: 206px;
    left: 0;
    bottom: 0;
}

.card {
    background-repeat: no-repeat;
    background-position: center;
    width: 340px;
    height: 188px;
    color: #ffff;
    padding: 24px 21px;
}

.swiper__card-img {
    display: flex;
    gap: 23px;
    margin-bottom: 15px;
}

.swiper-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    gap: 30px;
    transform: translateX(-184px);
}

.swiper__card-subtitle {
    font-size: 16px;
    font-family: 'Montserrat';
    letter-spacing: 0.5px;
    line-height: 21px;
}

.swiper__card-title {
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 24px;
}

.subtitle--block {
    display: block;
    line-height: 150%;
}

.swiper__main-subtitle {
    margin-top: 31px;
}

.h2 {
    font-size: 45px;
    font-weight: 400;
    line-height: 48.5px;
    letter-spacing: 2px;
    font-family: 'Permanent Marker';
}

.swiper__main {
    text-align: center;
    margin-bottom: 60px;
}

.swiper-wrapper {
    overflow: hidden;
    max-width: 1440px;
    margin: 0 auto;
}

.swiper__item-button {
    border: 2px solid #1c1c1d;
    width: 18px;
    height: 18px;
    border-radius: 100px;
    cursor: pointer;
}

.swiper__item-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    gap: 15px;
}

.swiper__item-button.active {
    background-color: #ffbd12;
}

.callback {
    background-color: #962eff;
}
.callback__wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2.2rem;
    margin-bottom: 9.4rem;
}

.callback__wrapper-email {
    background-image: url(/src/img/input.png);
    background-repeat: no-repeat;
    width: 277px;
    height: 52px;
    background-color: transparent;
    border: none;
    padding: 0 20px;
    letter-spacing: 0.5px;
}
.input {
    background-image: url(/src/img/input__from.png);
    background-repeat: no-repeat;
    width: 403px;
    height: 52px;
    background-color: transparent;
    border: none;
    padding: 0 20px;
    letter-spacing: 0.5px;
}

.callback__wrapper-btn {
    background-image: url(/src/img/button_input.png);
}

.slider__wrapper-callback {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    margin-top: 48px;
    gap: 9px;
}

.callback__wrapper-btn:hover {
    transform: scale(0.9);
    transition: 0.3s;
}

.title {
    color: #fff;
}

.swiper {
    margin-bottom: 80px;
}

.callback__wrapper-right {
    position: relative;
    right: 2.1%;
    padding-top: 3rem;
}

.callback__wrapper-left {
    padding-top: 10.3rem;
}

.callback__wrapper-subtitle {
    font-size: 18px;
    letter-spacing: 0.45px;
    line-height: 28px;
    display: block;
    margin-top: 24px;
}

::placeholder {
    color: #1c1c1d;
    font-size: 18px;
    font-family: 'Montserrat';
}

.stories__wrapper-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.63px;
    margin-bottom: 6px;
}

.stories__wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    margin-top: 3.6rem;
    margin-bottom: 12.6rem;
}

.stories__title {
    text-align: center;
}

.stories__wrapper-images {
    margin-bottom: 1.1rem;
}

.stories__wrapper-subtitle {
    line-height: 27.9px;
    margin-bottom: 12px;
}

.stories__wraper-time {
    font-size: 18px;
    line-height: 145%;
    letter-spacing: 0.5px;
    font-weight: 500;
}

.tariff__wrapper-item {
    background-repeat: no-repeat;
    width: 278px;
    height: 419px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
}

.tariff__wrapper-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.4rem;
    margin-bottom: 1.5rem;
}

.tariff__wrapper-section {
    text-align: center;
}

.tariff__wrapper-tabs {
    display: inline-block;
    margin-top: 3.6rem;
}

.tariff__wrapper-subtitle {
    letter-spacing: 0.65px;
}

.tariff__wrapper-title {
    margin-top: 1rem;
}

.title-card {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.prise-semibold {
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0.45px;
}

.btn-card {
    background-image: url(/src/img/btn__card.png);
    width: 217px;
    height: 56px;
}

.bonus__wrapper-callback {
    background-image: url(/src/img/from.png);
    background-repeat: no-repeat;
    width: 483px;
    height: 541px;
}

.bonus__contetn {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.bonus__wrapper-left {
    margin-top: 15.3rem;
}

.bonus__wrapper-right {
    flex: 0 0 48.7%;
    padding-top: 8rem;
}

.bonus__wrapper-btn {
    display: flex;
    align-items: center;
    gap: 30px;
}

.bonus__wrapper-subtitle {
    margin: 25px 0 50px;
}

.bonus__wrapper-callback {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
}

.bonus__wrapper-title.active {
    color: #fa6648;
}

.bonus__wrapper-tabs {
    display: flex;
    align-items: center;
    gap: 20px;
}

.checkbox-label,
.radio-label {
    padding-left: 5px;
}

.checkbox-input,
.radio-input {
    appearance: none;
    position: relative;
    width: 32px;
    height: 32px;
    background: #ffbd12;
    border-radius: 8px;
    border: 2px solid #1c1c1d;
    transition: 500ms;
}

.radio-input {
    border-radius: 50%;
}

.checkbox-input::after,
.radio-input::after {
    content: '\2714';
    position: absolute;
    top: 4px;
    left: 3px;
    width: 0px;
    height: 0px;
    font-size: 26px;
    transition: 500ms;
    overflow: hidden;
}

.radio-input::after {
    content: '\1F78B';
}

.checkbox-input::after,
.radio-input::after {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    font-size: 30px;
    background-image: url('images/check.svg');
    background-repeat: no-repeat;
    transition: 500ms;
}

.radio-input::after {
    background-image: url('images/radio.svg');
}

.checkbox-input::after,
.radio-input::after {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    font-size: 30px;
    background-image: url('images/check.svg');
    background-repeat: no-repeat;
    transition: 500ms;
}

.radio-input::after {
    background-image: url('images/radio.svg');
}

.checkbox-input::after,
.radio-input::after {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    background-image: url('/src/img/check.png');
    background-repeat: no-repeat;
    transition: 500ms;
}

.radio-input::after {
    background-image: url('/src/img/check.png');
}

.checkbox-input:checked::after,
.radio-input:checked::after {
    width: 21px;
    height: 21px;
    transition: 500ms;
}

.checkbox-input:disabled,
.radio-input:disabled {
    background: #ccc;
    border-color: #ccc;
}

.checkbox-input:disabled::after,
.radio-input:disabled::after {
    filter: grayscale(100%);
}

.callback__wrapper-checkbox {
    display: flex;
    align-items: center;
}

.footer {
    background-color: #7711dd;
    max-width: 1440px;
    margin: 0 auto;
    height: 136px;
}

.footer__wrapper {
    display: flex;
    align-items: center;
    padding-top: 42px;
    justify-content: space-between;
}

.footer__wrapper-links {
    font-size: 17px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.5px;
}

.footer__wrapper-btn {
    display: flex;
    align-items: center;
    gap: 30px;
}

.footer__wrapper-item {
    display: flex;
    align-items: center;
    gap: 40px;
}
